@model IEnumerable<CruiseOnWeb.Models.Port>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortLati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortLongi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortCountry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortLati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortLongi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortCountry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PId })
        </td>
    </tr>
}

</table>
