@model CruiseWeb.Models.Cruis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cruis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseDepPortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseDepPortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseArrPortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseArrPortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPerNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPerNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CruiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
