@model CruiseWeb.Models.Rating

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rating</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Rating1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.ValidationMessageFor(model => model.Rating1, "", new { @class = "text-danger" })*@
                <span class="text-warning">
                    <i class="far fa-star ratingStar" data-value="1"></i>
                    <i class="far fa-star ratingStar" data-value="2"></i>
                    <i class="far fa-star ratingStar" data-value="3"></i>
                    <i class="far fa-star ratingStar" data-value="4"></i>
                    <i class="far fa-star ratingStar" data-value="5"></i>
                </span>
                @*@Html.HiddenFor(model => model.Rating1, new { htmlAttributes = new { @class = "ratingsValue" } })*@
                <input type="hidden" name="Rating1" class="ratingsValue"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookingId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookingId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas"); 
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });
        $(".ratingStar").click(function () {
            var starValue = $(this).attr("data-value");
            $(".ratingsValue").val(starValue);
        })
    </script>
}
